<div class="page-header header-filter clear-filter purple-filter-soft home-background" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1>Armá tu pizza, creala al gusto.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <br>
    <h3 class="title" align="center">Creadores</h3>
    <br>
    <div class="row">
      <div class="col-4 offset-2">
        <div class="col-sm-4 offset-1">
          <img src="/assets/ee.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
        </div>
        <div class="name">
          <h3 class="title">Manuel Torrez</h3>
          <h6>Desarrollador</h6>
          <a href="http://github.com/manueltorrez" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-github"></i></a>
          <a href="http://twitter.com/arubyist" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
          <a href="http://facebook.com/manueltorrezvado" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-facebook"></i></a>
          <br>
        </div>
      </div>

      <div class="col-4 offset-2">
        <div class="col-sm-4 offset-1">
          <img src="/assets/ee.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
        </div>
        <div class="name">
          <h3 class="title">Adriana Rosales</h3>
          <h6>Desarrolladora</h6>
          <a href="http://github.com/adrianasalome31" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-github"></i></a>
          <a href="http://twitter.com/adrianasalome31" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
          <a href="http://facebook.com/adriana.salome.5" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-facebook"></i></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
