<br>
<div class="jumbotron center">
  <h1>Bienvenido a Pizza Builder</h1>
  <h2>Armá tu pizza, creala al gusto.</h2>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" align="center" role="button">Empezar</a>
  </p>
</div>