<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %> alert-dismissible">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons"> <%= show_alert_type(name) %> </i>
            </div>
        </div>
        <b> <%= msg %> </b> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>            
<% end %>